*{margin: 0;
    padding: 0;
    }
    .main{width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.JPG);
    background-position: center;
    background-size: cover;
    height: 109vh;
    }
    .navbar{
        width: 1200px;
        height: 75px;
        margin: auto;
    }
    .icon{
        width: 200px;
        float: left;
        height: 70px;
    }
    .logo{
        color: #ff7200;
        font-size: 35px;
        font-family: Arial;
        padding-left: 20px;
        float: left;
        padding-top: 10px;
        width: 256px;
        margin-top: 12px
    }
    .menu{
        width: 400px;
        float: left;
        height: 70px;
    }
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul li{
        list-style: none;
        margin-left: 92px;
        margin-top: 27px;
        font-size: 14px;
    }
    .dead{
        padding-left: 110px;
    }
    .blue{
        text-decoration: none;
        color: blue;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    .fat{
        text-decoration: none;
        color: #fff;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    ul li a:hover{
        color: #ff7200
    }
    .content{
        width: 1200px;
        height: auto;
        margin: auto;
        color: #fff;
        position: relative;
    }
    .content .par{
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
    }
    .content .par a{
        text-decoration: none;
        color: #167fff;
    }
    .content .par a:hover{
        color: orange;
    }
    .content h1{
        font-family: 'Times New Roman';
        font-size: 50px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
    }
    .content .cn{
        width: 200px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease ;
    }
    .content .cn a{
        text-decoration: none;
        color: #000;
        transition: .3s ease ;
    }
    .cn:hover{
        background-color: white;
    }
    .content span{
        color: #ff7200;
        font-size: 60px;
        
    }